
@{
    ViewBag.Title = "Error";
}

<div class="jumbotron">
    <h1>!Оставили пустыми поля  домен и группаID!</h1>
    <p><a href="http://localhost:57470/Home/Index" class="btn btn-primary btn-lg">Вернуться на главную &raquo;</a></p>
</div>


